#cancel-send-btn{
    background: none;
    padding: 0.65em 1.25em;
    border: 2px solid rgb(245, 246, 248);
    border-radius: 8px;
    cursor: pointer;
    color:rgb(245, 246, 248);
    font-size: 1.25em; 
    font-weight:500;
}

#send-btn {
  background: none;
  color: rgb(245, 246, 248);
  border: 2px solid rgb(245, 246, 248);
  border-radius: 8px;
  padding: 0.65em 1.25em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.25em; 
  font-weight:500;
}

#send-btn:hover {
  background:  rgb(234, 179, 60);
}

#cancel-send-btn:hover{
    background: #d64848;
}

textarea{
    resize:none;
}