.essentials{
  background-color: rgb(65, 84, 151);
  color: rgb(245, 246, 248);
  font-family:'DM Mono', Courier, monospace;
}

body{
  visibility:hidden;
}

.nav-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 9px 21px;
  background: none;
  color: rgb(245, 246, 248);
  border: 2px solid rgb(245, 246, 248);
  border-radius: 8px;
  font-size: 1.25em; 
  font-weight: 500; 
  cursor: pointer;
}


.nav-btn:hover {
  background: rgb(245, 246, 248);
  color:rgb(65, 84, 151);
}

/* IMPORTED FONT */
.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

#top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0.1em 0.75em;
}

#top-bar-left {
  justify-self: start;
}

#top-bar-left span{
  font-size: 1.17em; margin-top: 1em; margin-bottom: 1em; font-weight: 600;
}

#top-bar-center {
  justify-self: center;
}

#top-bar-right {
  justify-self: end;
}

.bottom-right{
  position:fixed;
  right:0;
  bottom:0;
  display:inline-block;
}

.bottom-left{
  position:fixed;
  left:0;
  bottom:0;
  display:inline-block;
}

.bottom-left h4{
  margin:0;
  margin:0.3333rem;
}

#postings-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0.5rem;
  width: 90%;
  margin: 0 auto;
}

.posting-card {
  border: 2px solid rgb(245, 246, 248);
  border-radius: 8px;
  padding: 0.5rem;
  min-height: 9rem;
  position: relative;

  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.created-date {
  display:block;
  width:90%;
  text-align:right;
  position:absolute;
  right:0.75rem;
  bottom:0.75rem;
}

.contact-btn {
  display:flex;
  position:absolute;
  right:0.75rem;
  top:0.75rem;
  background: none;
  color: rgb(245, 246, 248);
  border: 1px solid rgb(245, 246, 248);
  border-radius: 8px;
  padding: 0.372em 0.75em;
  cursor: pointer;
  font-weight:700;
}

.contact-btn:hover{
  background:  rgb(234, 179, 60);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posting-card h3{
  margin:0;
  margin-top:0.25rem;
}

.posting-card p{
  margin:0
}

.card-actions {
  display: flex;
  gap: 0.5rem;
}

.edit-btn, .delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  color:rgb(245, 246, 248);
  font-size: 1.2rem;
  padding: 0.25rem;
}

.delete-btn:hover {
  color: #d64848;
}

.edit-btn:hover {
  color: rgb(234, 179, 60);
}

#signout-btn{
  background: none;
  color: rgb(245, 246, 248);
  border: 2px solid rgb(245, 246, 248);
  border-radius: 8px;
  padding: 0.372em 0.75em;
  cursor: pointer;
  font-weight:700;
}

#signout-btn:hover{
  background-color: #d64848;
  border-color: #d64848;
}