/* ALL */
.essentials{
  background-color: rgb(65, 84, 151);
  color: rgb(245, 246, 248);
  font-family:'DM Mono', Courier, monospace;
}

body{
  visibility:hidden;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#nav-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: rgb(245, 246, 248);
  border: 2px solid rgb(245, 246, 248);
  border-radius: 8px;
  cursor: pointer;
}

#nav-btn:hover {
  background: rgb(245, 246, 248);
  color:rgb(65, 84, 151);
}

/* IMPORTED FONT */
.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

#top-bar {
  display: grid;
  align-items: center;
}

#top-bar-left {
  display:flex;
  align-items:center;
  justify-self: start;
  justify-content:space-between;
}

#top-bar-center {
  justify-self: center;
  align-items:center;
}

#top-bar-right {
  justify-self: end;
  align-items:center;
}

.bottom-right{
  position:fixed;
  right:0;
  bottom:0;
  display:inline-block;
}

.bottom-left{
  position:fixed;
  left:0;
  bottom:0;
  display:inline-block;
}

#postings-container {
  display: grid;
}

.posting-card {
  border: 2px solid rgb(245, 246, 248);
  border-radius: 8px;
  position: relative;

  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.created-date {
  text-align:right;
}

.contact-btn, .edit-btn, .delete-btn {
  background: none;
  color: rgb(245, 246, 248);
  border: 1px solid rgb(245, 246, 248);
  border-radius: 8px;
  border-width:2px;
  cursor: pointer;
}

.contact-btn:hover, .edit-btn:hover{
  background:  rgb(234, 179, 60);
}

.card-header {
  display: block;
  text-align:left;
}

.card-footer{
  display:flex;
  align-items:center;
  justify-content: space-between;
  border-top-width:2px;
  border-top-style:groove;
}

.card-actions{
  display:flex;
  align-items:center;
  justify-content:center;
}

.posting-card h3{
  margin:0;
}

.posting-card p{
  margin:0
}

.card-actions {
  display: flex;
  gap: 0.5rem;
}

.delete-btn:hover {
  background-color: #d64848;
}

#signout-btn{
  background: none;
  color: rgb(245, 246, 248);
  border: 2px solid rgb(245, 246, 248);
  border-radius: 8px;
  cursor: pointer;
  font-weight:700;
}

#signout-btn:hover{
  background-color: #d64848;
  border-color: #d64848;
}

#welcome-text, .desc-text, .looking-for{
  text-align:center;
}

.seperator{
  color:rgb(188, 186, 183);
}

/* DESKOP */
@media screen and (min-width: 768px) {
  #nav-btn{
    gap: 10px;
    padding: 0.372em 0.75em;
    font-size: 1.25em; 
    font-weight: 500; 
  }

  #top-bar-left span{
    font-size: 1.17em; margin-top: 1em; margin-bottom: 1em; font-weight: 600;
  }

  .bottom-left h4{
    font-size:1.1em;
    margin:0;
    margin:0.3333rem;
  }

  .bottom-right{
    height:11em;
  }

  #postings-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0 auto;
    width: 90%;
  }

  .posting-card {
    padding: 0.5rem;
    min-height: 9rem;
    display:flex;
    flex-direction:column;
  }

  .contact-btn, .edit-btn, .delete-btn {
    padding: 0.372em 0.75em;
    font-size:1.1em;
    font-weight:700;
  }

  .posting-card h3{
    margin-top:0.25rem;
  }

  #signout-btn{
    padding: 0.372em 0.75em;
    cursor: pointer;
    font-weight:700;
  }

  .desc-text{
    font-size:1.1em
  }

  .card-footer{
    margin-top:0.5em;
    padding-top:0.5em;
  }

  .card-description{
    padding-bottom:0.5em;
    flex-grow:1;
  }
}

/* PHONE */
@media screen and (max-width: 767px) {
  #nav-btn, #signout-btn{
    gap: 10px;
    padding: 0.372em 0.75em;
    font-size:1.1rem;
    font-weight: 700; 
  }

  #top-bar {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.1em 0.75em;
  }


  #top-bar-left span{
    font-size: 1.17em; margin-top: 1em; margin-bottom: 1em; font-weight: 600;
  }

  .bottom-left h4{
    font-size:0.75em;
    margin:0;
    margin:0.3333rem;
  }

  .bottom-right{
    height:5.75em;
  }

  #postings-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0.5rem;
    margin: .235em auto;
    width: 95%;
  }

  .posting-card {
    padding: 0.5rem;
    min-height:5rem;
    font-size:0.8em;
  }

  .contact-btn, .edit-btn, .delete-btn {
    padding-left: 0.372em 0.75em;
    font-size:1.2em;
    font-weight:500;
  }

  .posting-card h3{
    margin-top:0,1rem;
  }
  
  #site-title{
    font-size:2.5em;
    margin: 1.25rem 0rem;
  }

  .welcome-text{
    font-size:1.2rem;
  }

  #welcome-msg{
    font-size:1.3rem;
  }

  .desc-text{
    font-size:0.9em;
  }

  .looking-for{
    font-size:1em;
  }

  .card-footer{
    margin-top:0.5em;
    padding-top:0.5em;
  }

  .card-description{
    padding-bottom:0.5em;
  }
}